:root {
    --primary: #21ccd2;
    --secondary: #188c90;
    --accent: #65ebef;
    --muted-primary: #21ccd222;
    --dark-white: #efefef;
    --light-gray: #c7c7c7;
    --gray: #9d9d9d;
    --sidebar-width: 230px;
}
